[submodule "rpi_web_interface"]
	path = rpi_web_interface
	url = https://github.com/z89/rpi_web_interface
[submodule "rpi_servo_interface"]
	path = rpi_servo_interface
	url = https://github.com/z89/rpi_servo_interface
